@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

@font-face {
    font-family: 'UhBeeSeulvely';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeSeulvely.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UhBeenamsoyoung';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeenamsoyoung.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

select {
    width: 200px;
    padding: .5em .5em;
    margin: 6vh;
    font-family: 'UhBeenamsoyoung';
    font-size: 1.6vh;
    color: black;
    border: 1.5px solid black;
    background: white url('arrow-down-sign-to-navigate.png') no-repeat 95% 50%/15px auto;
    border-radius: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    opacity: 70%;
}

select::-ms-expand {
    display: none;
}