@charset "utf-8";
@import url(../css/reset.css);

a {
   text-decoration: none;
   display: inline-block;
}

.logo {
   position: fixed;
   left: 2.7%;
   width: fit-content;
}

.logo a img {
   height: 8vh;
   object-fit: contain;
   /* margin-left: 50px; */
}

.nav li {
   list-style: none;
   /* z-index: 2000; */
}

.nav li a {
   margin: 0 13px;
}

.nav>li>a:hover {
   /* color: white; */
   /* background: white; */
   /* opacity: 20%; */
   z-index: -1;
   /* z-index: 1; */
   scale: 1.15;
   font-weight: 700;
}

.nav>li.on>a {
   color: white;
   /* z-index: 1; */
   font-weight: 700;
}

.nav>li.on>a:hover {
   color: white;
   /* z-index: 1; */
   /* font-weight: bold; */
   scale: 1;
   /* background: black; */
}

/* .nav>li>a:visited{
   color: cyan;
 } */

.icons {
   list-style: none;
   display: flex;
   margin-left: auto;
}

.icons input {
   width: 75%;
}

/* .ham {
   position: absolute;
   top: 20px;
   right: 20px;
   width: 50px;
   height: 50px;
   font-size: 40px;
   background-color: transparent;
   border: none;

   display: none;
} */