html,
body {
   position: absolute;
   /* max-height: 959px; */
   /* min-height: 950px; */
   height: 100%;
   width: 100%;
   text-align: center;
   font-size: 20px;
   overflow: hidden;
}

.grid-cont {
   display: grid;
   grid-template-columns: 1fr 2fr 1fr;
   grid-template-rows: max-content;
   /* gap: 2.5px; */
   height: 100%;
   width: 100%;
}

.top {
   display: grid;
   place-items: center;

   grid-column-start: 1;
   grid-column-end: 4;
   grid-template-columns: 1fr 2fr 1fr;
   height: 8vh;
   /* background: white; */
   margin: 5px 2.5px 0 2.5px;
}

.cont {
   display: grid;
   height: 100%;
   grid-column-start: 1;
   grid-column-end: 4;
   padding: 2.5px;
}