@charset "utf-8";
@import url(../css/core.css);
@import url(../css/grid.css);
@import url(../css/media.css);
@import url(../css/reset.css);
@import url(../css/hamburger.css);

/* #myCanvas:hover {
   border: 1px solid black;
} */

.top {
   border-bottom: 3px solid rgb(55, 55, 55, 0.5);
   border-image: linear-gradient(to right, lightgreen, lightpink, lightskyblue);
   border-image-slice: 1;
}

.cont-mid{
   height: 100vh;
   width: 100vw;
}

/* .map img{
   max-width: 680px;
   width: 100%;
   height: 100%;
   margin-top: 1%;
} */