@charset "utf-8";
@import url(./HTML/css/reset.css);

html,
body {
  position: absolute;
  height: 100%;
  width: 100%;
}

.grid-cont {
  display: grid;
  grid-template-columns: 23% 54% 23%;
  /* grid-template-rows: 25% 75%; */
  height: 100%;
  width: 100%;
  gap: 5px;
  background: skyblue;
  padding: 5px;
}

.grid-cont div {
  background: white;
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
}

.top {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-template-columns: 30% 40% 30%;
  height: 30%;
}
